@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  width: max-content;
  animation: marquee 40s linear infinite;
}

.marquee > * {
  flex-shrink: 0;
}
